.destinations {
  padding: 100px 0 0 0;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.destination {
  display: flex;
  width: 497px;
  height: 661px;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  &__heading {
    color: #fff;
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    color: #fff;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
