@use "../../variables/variables";

.button {
  font-family: variables.$paragraph-font-family;
  border-radius: variables.$border-button;

  &__details {
    background-color: variables.$main-color;
    color: variables.$light-color;
    border-color: variables.$main-color;
  }
}
